<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WindowDesignMapper">
    
    <resultMap type="com.ruoyi.system.domain.WindowDesign" id="WindowDesignResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="width" column="width"/>
        <result property="height" column="height"/>
        <result property="frameSize" column="frame_size"/>
        <result property="thumbnail" column="thumbnail"/>
        <result property="designData" column="design_data"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectWindowDesignVo">
        select id, name, width, height, frame_size, thumbnail, design_data, create_time, update_time, create_by, update_by, remark from window_design
    </sql>

    <select id="selectWindowDesignList" parameterType="com.ruoyi.system.domain.WindowDesign" resultMap="WindowDesignResult">
        <include refid="selectWindowDesignVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="width != null "> and width = #{width}</if>
            <if test="height != null "> and height = #{height}</if>
            <if test="frameSize != null "> and frame_size = #{frameSize}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
        order by update_time desc
    </select>
    
    <select id="selectWindowDesignById" parameterType="String" resultMap="WindowDesignResult">
        <include refid="selectWindowDesignVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWindowDesign" parameterType="com.ruoyi.system.domain.WindowDesign">
        insert into window_design
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="width != null">width,</if>
            <if test="height != null">height,</if>
            <if test="frameSize != null">frame_size,</if>
            <if test="thumbnail != null">thumbnail,</if>
            <if test="designData != null">design_data,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="width != null">#{width},</if>
            <if test="height != null">#{height},</if>
            <if test="frameSize != null">#{frameSize},</if>
            <if test="thumbnail != null">#{thumbnail},</if>
            <if test="designData != null">#{designData},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateWindowDesign" parameterType="com.ruoyi.system.domain.WindowDesign">
        update window_design
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="width != null">width = #{width},</if>
            <if test="height != null">height = #{height},</if>
            <if test="frameSize != null">frame_size = #{frameSize},</if>
            <if test="thumbnail != null">thumbnail = #{thumbnail},</if>
            <if test="designData != null">design_data = #{designData},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWindowDesignById" parameterType="String">
        delete from window_design where id = #{id}
    </delete>

    <delete id="deleteWindowDesignByIds" parameterType="String">
        delete from window_design where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper> 